@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#020617] text-white;
  }
  
  /* Classic Form Style Inputs */
  input {
    @apply bg-transparent text-white border-b border-slate-700 outline-none px-1 w-full font-mono text-sm transition-colors;
  }
  
  input:focus {
    @apply border-cyan-400 bg-cyan-950/20;
  }

  /* Remove number spinner */
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}